.card {
    flex: 0 0 300px; /* Fixed width for cards */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    min-height: 200px;
  }
  
  .card {
    background: linear-gradient(135deg, #fff, #f8f9fa);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 3px solid #007BFF;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .card-content h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #007BFF;
    font-weight: 600;
  }
  
  .card-content .description {
    font-size: 0.8rem;
    color: #6c757d;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;;
  }
  
  .info div {
    text-align: center;
    font-size: 0.7rem;
  }
  
  .info div i {
    font-size: 28px;
    color: #007BFF;
    margin-bottom: 5px;
    transition: color 0.3s ease;
  }
  
  .info div:hover i {
    color: #28a745;
  }
  
  .info div span {
    display: block;
    margin-top: 8px;
    font-weight: bold;
    color: #495057;
  }
  .buses
  {
    overflow:hidden;
  }
  /* Button Styles */
  .card-button {
    background: linear-gradient(135deg, #28a745, #218838);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.4s ease, box-shadow 0.3s ease;
  }
  
  .card-button:hover {
    background: linear-gradient(135deg, #218838, #1e7e34);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .card-button:active {
    transform: scale(0.98);
  }
  .info .fas
  {
    font-size:1rem;
  }
  .via i
  {
    margin:10px 3px;
  }